{{#each surveys as |survey|}}
  <div class="card col-md-3 handlebars-card-all">

    <div class="card-header" data-target="{{survey._id}}">
      <section>
        <h2>{{survey.title}}</h2>
        <br>
        <div class="handlebars-q-and-a">
          <h6>Would you rather:</h6>
          <div class="titles">
          <p>{{survey.one.title}}</p>
          <p class="or">-or-</p>
          <p>{{survey.two.title}}</p>
        </div>
        </div>
      </section>
    </div>
    <div class="surveyResponse" data-id="{{survey._id}}">

      <button type="submit" data-id="{{survey.one._id}}" value="{{survey.one.title}}" name="{{survey._id}}" data-count="{{survey.one.count}}"class="btn survey-btn btn-a1 survey-answer-1">{{survey.one.title}}</button>
      <button type="submit" data-id="{{survey.two._id}}" value="{{survey.two.title}}" name="{{survey._id}}" data-count="{{survey.two.count}}"class="btn survey-btn btn-a2 survey-answer-2">{{survey.two.title}}</button>

      <div class="displayResults">


          <div class="chart-wrapper"><canvas id="bar-chart-{{survey.one.title}}" width="100%" height="30px"></canvas></div>

      </div>

    </div>

  </div>
{{/each}}
